<h1>Pet show page</h1>
Name: <%= @pet.name %><br>
Breed: <%= @pet.breed %><br>
Age: <%= @pet.age %><br>
Is it cute? <%= @pet.cute %><br>

<!-- <h2>Toys</h2>
<% @pet.toys.each do |toy| %>
<%= toy.description %>
<% end %> -->

<%= link_to 'Show toys', pet_toys_path(@pet), remote: true, :class => 'show-link' %><br>

<div class='toy-list'></div>
<%= render @pet.toys %>
